@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Saira+Semi+Condensed:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200&family=Rajdhani:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  outline: 1; }

.wrap::after {
  content: '';
  display: none;
  clear: both; }

#header_sub {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }
  #header_sub .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center; }
    #header_sub .inner h1 {
      display: flex;
      align-content: center;
      justify-content: center; }
      #header_sub .inner h1 a {
        display: inline-block;
        margin-right: 15px;
        font: bold 16px/15px "Rajdhani";
        color: #111;
        letter-spacing: 1px; }
      #header_sub .inner h1 i {
        font-size: 30px;
        color: #111;
        line-height: 10px; }
    #header_sub .inner #gnb::after {
      content: '';
      display: block;
      clear: both; }
    #header_sub .inner #gnb li {
      float: left;
      display: block;
      padding: 0px 30px; }
      #header_sub .inner #gnb li:first-child {
        padding-left: 0; }
      #header_sub .inner #gnb li:last-child {
        padding-right: 0; }
      #header_sub .inner #gnb li a {
        font: 15px/1 "Rajdhani";
        color: #333; }
    #header_sub .inner .util::after {
      content: '';
      display: block;
      clear: both; }
    #header_sub .inner .util li {
      float: left;
      display: block;
      margin-right: 20px; }
      #header_sub .inner .util li:last-child {
        margin-right: 0; }
      #header_sub .inner .util li a i {
        color: #ddd; }
    #header_sub .inner .btnMo {
      display: none;
      float: right;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border: 2px solid #333;
      font: bold 15px/1 "Rajdhani";
      color: #333;
      text-align: center;
      letter-spacing: 2px;
      padding: 3px 0px 0px; }
    #header_sub .inner .Mob {
      position: fixed;
      top: 0;
      left: -252px;
      width: 250px;
      height: 100vh;
      background: rgba(17, 17, 17, 0.9);
      border-right: 2px solid #fff;
      padding: 30px 30px;
      z-index: 10;
      opacity: 1;
      transition: all 0.5s; }
      #header_sub .inner .Mob h1 {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #444;
        float: left; }
        #header_sub .inner .Mob h1 a {
          font: 18px/1 "Rajdhani";
          color: #aaa; }
          #header_sub .inner .Mob h1 a span {
            display: inline-block;
            margin-right: 10px;
            font: bold 20px/1 "Rajdhani";
            color: #eee; }
          #header_sub .inner .Mob h1 a i {
            font-size: 30px;
            color: #fff; }
      #header_sub .inner .Mob #gnbMo {
        margin-bottom: 20px; }
        #header_sub .inner .Mob #gnbMo li:last-child {
          padding-bottom: 20px;
          border-bottom: 1px solid #444; }
        #header_sub .inner .Mob #gnbMo li a {
          display: block;
          width: 100%;
          padding: 15px 0;
          font: bold 16px/1 "Rajdhani";
          color: #ddd; }
      #header_sub .inner .Mob .utilMo li a {
        display: block;
        width: 100%;
        padding: 10px 0;
        font: 14px/1 "Rajdhani";
        color: #aaa; }
      #header_sub .inner .Mob.on {
        left: 0;
        opacity: 1; }

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    padding: 50px 30px; }
    #header_sub .inner h1 {
      display: flex;
      align-content: center;
      justify-content: center; }
      #header_sub .inner h1 a {
        display: inline-block;
        margin-right: 15px;
        font: bold 16px/15px "Rajdhani";
        color: #111;
        letter-spacing: 1px; }
      #header_sub .inner h1 i {
        font-size: 30px;
        color: #111;
        line-height: 10px; }
    #header_sub .inner #gnb {
      display: none; }
    #header_sub .inner .util {
      position: absolute;
      top: 40px;
      right: 100px; }
    #header_sub .inner .btnMo {
      display: block; } }
#footer_sub {
  width: 100%;
  padding: 100px 0 50px;
  background: #efefef; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer_sub .inner .wrap {
      width: 100%;
      border-bottom: 1px solid #bbb;
      margin-bottom: 50px; }
      #footer_sub .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .inner .wrap .menu1 {
        margin-bottom: 50px; }
        #footer_sub .inner .wrap .menu1::after {
          content: '';
          display: block;
          clear: both; }
        #footer_sub .inner .wrap .menu1 > li {
          float: left;
          margin-right: 120px; }
          #footer_sub .inner .wrap .menu1 > li:last-child {
            float: right;
            margin-right: 0;
            width: 300px;
            position: relative; }
          #footer_sub .inner .wrap .menu1 > li > a {
            display: block;
            font: bold 16px/1 'Rajdhani';
            color: #555;
            letter-spacing: 1px;
            margin-bottom: 10px; }
          #footer_sub .inner .wrap .menu1 > li p {
            display: block;
            margin-bottom: 15px;
            font: 14px/1.2 'Rajdhani';
            color: #666; }
          #footer_sub .inner .wrap .menu1 > li label {
            font-size: 20px;
            color: #777;
            position: absolute;
            bottom: 8px;
            right: 20px; }
          #footer_sub .inner .wrap .menu1 > li input[type=email] {
            display: block;
            width: 100%;
            height: 40px;
            padding: 20px;
            border: none;
            background: #bbb;
            border-radius: 5px;
            font-family: 'Rajdhani';
            color: #fff; }
          #footer_sub .inner .wrap .menu1 > li .depth li:last-child {
            margin-bottom: 0; }
          #footer_sub .inner .wrap .menu1 > li .depth li a {
            font: 15px/1.4 'Rajdhani';
            color: #777; }
      #footer_sub .inner .wrap address {
        float: left;
        font: 15px/1 'Rajdhani';
        color: #777; }
      #footer_sub .inner .wrap > p {
        float: right;
        font: 15px/1 'Rajdhani';
        color: #777; }
      #footer_sub .inner .wrap .visa {
        float: right;
        width: 100%;
        text-align: right;
        margin: 40px 0px 20px; }
        #footer_sub .inner .wrap .visa span {
          font: 20px/1 'Lalezar';
          color: #999; }
          #footer_sub .inner .wrap .visa span:nth-of-type(1) {
            margin-right: 20px; }
    #footer_sub .inner .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-content: center; }
      #footer_sub .inner .bottom h1 {
        display: flex;
        align-content: center;
        justify-content: center; }
        #footer_sub .inner .bottom h1 a {
          display: inline-block;
          margin-left: 15px;
          font: bold 20px/15px 'Rajdhani';
          color: #555;
          letter-spacing: 1px; }
        #footer_sub .inner .bottom h1 i {
          font-size: 35px;
          color: #555;
          line-height: 10px; }
      #footer_sub .inner .bottom .menu2::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .inner .bottom .menu2 li {
        float: left;
        display: block;
        padding: 0px 30px; }
        #footer_sub .inner .bottom .menu2 li:first-child {
          padding-left: 0; }
        #footer_sub .inner .bottom .menu2 li:last-child {
          padding-right: 0; }
        #footer_sub .inner .bottom .menu2 li a {
          font: bold 15px/1 'Rajdhani';
          color: #666;
          letter-spacing: 1px; }
      #footer_sub .inner .bottom .sns::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .inner .bottom .sns li {
        float: left;
        display: block;
        margin-right: 10px; }
        #footer_sub .inner .bottom .sns li:last-child {
          margin-right: 0; }
        #footer_sub .inner .bottom .sns li a {
          display: block;
          width: 40px;
          height: 40px;
          background: #ddd;
          border-radius: 50%;
          text-align: center; }
          #footer_sub .inner .bottom .sns li a i {
            font-size: 20px;
            line-height: 40px;
            color: #888; }

.content {
  width: 100%;
  padding: 0px 0px 100px; }
  .content .sub_visual {
    width: 100%;
    height: 300px;
    background: url(../../img/unsplash.jpg) no-repeat bottom/cover;
    margin-bottom: 100px; }
    .content .sub_visual .txt {
      width: 1180px;
      height: 100%;
      margin: 0 auto;
      position: relative; }
      .content .sub_visual .txt h1 {
        font: normal 50px/1 'Rajdhani';
        color: #fff;
        position: absolute;
        top: 75%;
        left: 0; }
        .content .sub_visual .txt h1 span {
          font: normal 20px/1 'arial';
          color: #fff;
          border-left: 3px solid #fff;
          padding: 0 20px; }
  .content .inner {
    width: 1180px;
    margin: 0 auto;
    min-height: 500px;
    position: relative; }

.member .sub_visual {
  background: url(../../img/unsplash.jpg) no-repeat bottom/cover; }
.member .ceo {
  width: 1180px;
  min-height: 700px;
  margin: 100px auto 0;
  position: relative; }
  .member .ceo .back {
    width: 60%;
    min-height: 700px;
    background: #ddd;
    margin: 0 auto; }
  .member .ceo .pic {
    width: 500px;
    height: 300px;
    background: rgba(68, 42, 1, 0.7);
    position: absolute;
    top: 0;
    right: -50px; }
  .member .ceo .text {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 350px; }
    .member .ceo .text::before {
      content: '';
      display: block;
      width: 130px;
      height: 1px;
      background: #442a01;
      position: absolute;
      bottom: 30%;
      left: -180px;
      transform: rotate(-40deg); }
    .member .ceo .text h1 {
      font: 60px/1 'arial';
      color: #442a01;
      margin-left: -140px; }
      .member .ceo .text h1 span {
        display: block;
        width: 100%;
        margin: 30px 0 40px 140px; }
    .member .ceo .text h2 {
      font: 20px/1 'arial';
      color: #111;
      margin-bottom: 40px; }
    .member .ceo .text p {
      width: 300px;
      font: 15px/1.6 'arial';
      color: #222; }

#header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; }
  #header .inner {
    width: 1180px;
    margin: 0 auto;
    padding: 50px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-content: center; }
    #header .inner h1 {
      display: flex;
      align-content: center;
      justify-content: center; }
      #header .inner h1 a {
        display: inline-block;
        margin-right: 15px;
        font: bold 16px/15px "Rajdhani";
        color: #111;
        letter-spacing: 1px; }
      #header .inner h1 i {
        font-size: 30px;
        color: #111;
        line-height: 10px; }
    #header .inner #gnb::after {
      content: '';
      display: block;
      clear: both; }
    #header .inner #gnb li {
      float: left;
      display: block;
      padding: 0px 30px; }
      #header .inner #gnb li:first-child {
        padding-left: 0; }
      #header .inner #gnb li:last-child {
        padding-right: 0; }
      #header .inner #gnb li a {
        font: 15px/1 "Rajdhani";
        color: #333; }
    #header .inner .util::after {
      content: '';
      display: block;
      clear: both; }
    #header .inner .util li {
      float: left;
      display: block;
      margin-right: 20px; }
      #header .inner .util li:last-child {
        margin-right: 0; }
      #header .inner .util li:hover a i {
        transform: scale(1.2);
        color: #eee; }
      #header .inner .util li a i {
        color: #aaa;
        transition: 0.3s; }
    #header .inner .btnMo {
      display: none;
      float: right;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border: 2px solid #333;
      font: bold 15px/1 "Rajdhani";
      color: #333;
      text-align: center;
      letter-spacing: 2px;
      padding: 3px 0px 0px; }
    #header .inner .Mob {
      position: fixed;
      top: 0;
      left: -252px;
      width: 250px;
      height: 100vh;
      background: rgba(17, 17, 17, 0.9);
      border-right: 2px solid #fff;
      padding: 30px 30px;
      z-index: 10;
      opacity: 1;
      transition: all 0.5s; }
      #header .inner .Mob h1 {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #444;
        float: left; }
        #header .inner .Mob h1 a {
          font: 18px/1 "Rajdhani";
          color: #aaa; }
          #header .inner .Mob h1 a span {
            display: inline-block;
            margin-right: 10px;
            font: bold 20px/1 "Rajdhani";
            color: #eee; }
          #header .inner .Mob h1 a i {
            font-size: 30px;
            color: #fff; }
      #header .inner .Mob #gnbMo {
        margin-bottom: 20px; }
        #header .inner .Mob #gnbMo li:last-child {
          padding-bottom: 20px;
          border-bottom: 1px solid #444; }
        #header .inner .Mob #gnbMo li a {
          display: block;
          width: 100%;
          padding: 15px 0;
          font: bold 16px/1 "Rajdhani";
          color: #ddd; }
      #header .inner .Mob .utilMo li a {
        display: block;
        width: 100%;
        padding: 10px 0;
        font: 14px/1 "Rajdhani";
        color: #aaa; }
      #header .inner .Mob.on {
        left: 0;
        opacity: 1; }

#visual {
  width: 100%;
  height: 100vh;
  background: #efefef;
  position: relative; }
  #visual > img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/visual1.jpg) no-repeat center/cover;
    opacity: 0.1; }
  #visual .inner {
    width: 1180px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 170px;
    position: relative; }
    #visual .inner h1 {
      font: bold 70px/1 'arial';
      color: #111;
      margin-bottom: 20px; }
    #visual .inner p {
      width: 40%;
      font: 16px/1.7 'arial';
      color: #555; }
    #visual .inner .list {
      width: 53%;
      height: 270px;
      padding: 30px;
      position: absolute;
      top: 190px;
      right: 0;
      background: url(../img/쿠션지.jpg) no-repeat center/cover; }
      #visual .inner .list::after {
        content: '';
        display: block;
        clear: both; }
      #visual .inner .list h2 {
        width: 130px;
        font: 28px/1 'arial';
        color: #ddd;
        margin-bottom: 30px; }
        #visual .inner .list h2::before {
          content: '';
          display: block;
          width: 80px;
          height: 2px;
          background: #eee;
          margin-bottom: 20px; }
      #visual .inner .list ul {
        width: 100%;
        position: absolute;
        bottom: 30px;
        left: 30px; }
        #visual .inner .list ul li {
          float: left;
          width: calc(100% / 4 - 20px); }
          #visual .inner .list ul li a {
            font: bold 15px/1 'arial';
            color: #ccc; }
          #visual .inner .list ul li > span {
            display: block;
            margin-top: 5px;
            font: 14px/1 'arial';
            color: #999; }
      #visual .inner .list > span {
        position: absolute;
        bottom: -40px;
        left: 0;
        font: bold 14px/1 'arial';
        color: #333; }
    #visual .inner .wrap {
      width: 100%;
      height: 35%;
      position: absolute;
      bottom: 0;
      left: 0;
      overflow: hidden; }
      #visual .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #visual .inner .wrap article {
        width: 280px;
        height: 100%;
        float: left;
        margin-right: 20px;
        position: relative;
        transition: 0.5s; }
        #visual .inner .wrap article:last-child {
          margin-right: 0; }
        #visual .inner .wrap article:hover .pic img {
          display: block;
          opacity: 0.2; }
        #visual .inner .wrap article:hover span a {
          font-size: 17px;
          color: #111; }
          #visual .inner .wrap article:hover span a i {
            transform: translateX(10px); }
        #visual .inner .wrap article .pic {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1; }
          #visual .inner .wrap article .pic img {
            width: 90%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s;
            display: none; }
        #visual .inner .wrap article > p {
          font: 13px/1 'arial';
          color: #333;
          position: absolute;
          top: 60px;
          left: 10px;
          z-index: 2; }
        #visual .inner .wrap article h3 {
          width: 80%;
          font: bold 18px/1 'arial';
          color: #111;
          position: absolute;
          top: 80px;
          left: 10px;
          z-index: 2;
          border-bottom: 2px solid #111;
          padding-bottom: 20px; }
        #visual .inner .wrap article span {
          display: block;
          width: 80%;
          position: absolute;
          bottom: 110px;
          left: 10px; }
          #visual .inner .wrap article span a {
            font: 15px/1 'arial';
            color: #444;
            transition: 0.5s; }
            #visual .inner .wrap article span a i {
              font-size: 15px;
              color: #444;
              position: absolute;
              bottom: 0px;
              right: 0px;
              transition: 0.5s; }

#news {
  width: 100%;
  padding: 200px 0px;
  background: #111; }
  #news.on .inner h1, #news.on .inner p {
    transform: translateY(0);
    opacity: 1; }
  #news .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #news .inner h1 {
      font: bold 28px "Rajdhani";
      color: #eee;
      text-align: center;
      margin-bottom: 40px;
      transform: translateY(50px);
      transition: 1s;
      opacity: 0; }
      #news .inner h1::after {
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background: #ff5b20;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%); }
    #news .inner > p {
      font: 15px "Rajdhani";
      color: #eee;
      text-align: center;
      margin-bottom: 80px;
      transform: translateY(-50px);
      transition: 1s;
      opacity: 0; }
    #news .inner .slider {
      width: 800px;
      margin: 0 auto;
      overflow: hidden;
      position: relative; }
      #news .inner .slider ul {
        width: calc(800px * 4);
        height: 400px;
        overflow: hidden;
        margin-left: -800px; }
        #news .inner .slider ul li {
          width: 800px;
          height: 100%;
          float: left; }
          #news .inner .slider ul li img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px; }
    #news .inner .prev {
      width: 50px;
      height: 50px;
      text-align: center;
      position: absolute;
      top: 65%;
      left: 120px;
      cursor: pointer; }
      #news .inner .prev span {
        display: block;
        font: 13px/50px 'arial';
        color: #eee;
        opacity: 0;
        transform: translateX(-50px);
        transition: 0.5s; }
      #news .inner .prev::before {
        content: '';
        display: block;
        width: 50px;
        height: 1px;
        background: #eee;
        position: absolute;
        top: 0;
        left: 50px;
        transform: rotate(150deg);
        transform-origin: left center;
        transition: 0.5s; }
      #news .inner .prev::after {
        content: '';
        display: block;
        width: 50px;
        height: 1px;
        background: #eee;
        position: absolute;
        bottom: 0;
        left: 50px;
        transform: rotate(-150deg);
        transform-origin: left center;
        transition: 0.5s; }
      #news .inner .prev:hover span {
        transform: translateX(0);
        opacity: 1; }
      #news .inner .prev:hover::before {
        transform: rotate(-180deg); }
      #news .inner .prev:hover::after {
        transform: rotate(180deg); }
    #news .inner .next {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 65%;
      right: 110px;
      text-align: center;
      cursor: pointer; }
      #news .inner .next span {
        display: block;
        font: 13px/50px 'arial';
        color: #eee;
        transform: translateX(50px);
        transition: 0.5s;
        opacity: 0; }
      #news .inner .next::before {
        content: '';
        display: block;
        width: 50px;
        height: 1px;
        background: #eee;
        position: absolute;
        top: 0;
        left: -50px;
        transform: rotate(-150deg);
        transform-origin: right center;
        transition: 0.5s; }
      #news .inner .next::after {
        content: '';
        display: block;
        width: 50px;
        height: 1px;
        background: #eee;
        position: absolute;
        bottom: 0;
        left: -50px;
        transform: rotate(150deg);
        transform-origin: right center;
        transition: 0.5s; }
      #news .inner .next:hover span {
        opacity: 1;
        transform: translateX(0); }
      #news .inner .next:hover::before {
        transform: rotate(180deg); }
      #news .inner .next:hover::after {
        transform: rotate(-180deg); }

#brand {
  width: 100%;
  padding: 200px 0;
  background: #efefef; }
  #brand.on .inner h1, #brand.on .inner p {
    transform: translateY(0);
    opacity: 1; }
  #brand.on .inner .wrap article {
    opacity: 1;
    transition-delay: 0.5s; }
    #brand.on .inner .wrap article:nth-of-type(1) {
      transform: translateY(-30px); }
    #brand.on .inner .wrap article:nth-of-type(2) {
      transform: translateY(50px); }
    #brand.on .inner .wrap article:nth-of-type(3) {
      transform: translateY(-30px); }
  #brand .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #brand .inner h1 {
      font: bold 28px "Rajdhani";
      color: #111;
      text-align: center;
      margin-bottom: 40px;
      transform: translateY(50px);
      transition: 1s;
      opacity: 0; }
      #brand .inner h1::after {
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background: #ff5b20;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%); }
    #brand .inner > p {
      font: 15px "Rajdhani";
      color: #111;
      text-align: center;
      margin-bottom: 80px;
      transform: translateY(-50px);
      transition: 1s;
      opacity: 0; }
    #brand .inner .wrap {
      width: 100%; }
      #brand .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #brand .inner .wrap article {
        width: 380px;
        height: 500px;
        float: left;
        margin-right: 20px;
        position: relative;
        transition: 1.5s;
        opacity: 0; }
        #brand .inner .wrap article:hover .txt {
          opacity: 1;
          left: -5%; }
        #brand .inner .wrap article:last-child {
          margin-right: 0; }
        #brand .inner .wrap article:nth-of-type(1) {
          transform: translateY(-130px); }
        #brand .inner .wrap article:nth-of-type(2) {
          transform: translateY(150px); }
        #brand .inner .wrap article:nth-of-type(3) {
          transform: translateY(-130px); }
        #brand .inner .wrap article img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 3; }
        #brand .inner .wrap article .txt {
          width: 90%;
          height: 110%;
          position: absolute;
          top: 50%;
          left: -10%;
          transform: translateY(-50%);
          background: rgba(255, 100, 44, 0.795);
          padding: 80px 20px;
          transition: all 0.5s;
          opacity: 0;
          z-index: 1; }
          #brand .inner .wrap article .txt h2 {
            font: bold 24px/1 "Rajdhani";
            color: #eee;
            margin-bottom: 40px; }
          #brand .inner .wrap article .txt p {
            font: 18px/1.3 "Rajdhani";
            color: #ddd;
            letter-spacing: 1px; }

#banner {
  width: 100%;
  padding: 100px;
  background: url(../img/banner1.jpg) no-repeat fixed; }
  #banner .inner {
    width: 1180px;
    margin: 0 auto;
    text-align: center;
    position: relative; }
    #banner .inner h1 {
      font: bold 28px "Rajdhani";
      color: #eee;
      text-align: center;
      margin-bottom: 40px; }
      #banner .inner h1::after {
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background: #ff5b20;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%); }
    #banner .inner p {
      font: normal 16px/1.4 "Rajdhani";
      color: #ddd; }

#comment {
  width: 100%;
  padding: 200px 0;
  background: #111; }
  #comment.on .inner h1, #comment.on .inner p {
    transform: translateY(0);
    opacity: 1; }
  #comment.on .inner .wrap article {
    opacity: 1; }
    #comment.on .inner .wrap article:first-child {
      transition-delay: 0.3s;
      transform: translateX(0px); }
    #comment.on .inner .wrap article:last-child {
      transition-delay: 0.3s;
      transform: translateX(0px); }
  #comment .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #comment .inner h1 {
      font: bold 28px "Rajdhani";
      color: #eee;
      text-align: center;
      margin-bottom: 40px;
      transform: translateY(50px);
      transition: 1s;
      opacity: 0; }
      #comment .inner h1::after {
        content: '';
        display: block;
        width: 40px;
        height: 2px;
        background: #ff5b20;
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%); }
    #comment .inner > p {
      font: 15px "Rajdhani";
      color: #eee;
      text-align: center;
      margin-bottom: 80px;
      transform: translateY(-50px);
      transition: 1s;
      opacity: 0; }
    #comment .inner .wrap {
      width: 100%; }
      #comment .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #comment .inner .wrap article {
        width: 580px;
        height: 500px;
        float: left;
        margin-right: 20px;
        padding: 10px;
        background: rgba(187, 187, 187, 0.144);
        transition: 1s;
        opacity: 0; }
        #comment .inner .wrap article:first-child {
          transform: translateX(-200px); }
        #comment .inner .wrap article:last-child {
          margin-right: 0;
          transform: translateX(200px); }
        #comment .inner .wrap article h2 {
          display: inline-block;
          font: bold 20px/1 "Rajdhani";
          color: #eee;
          margin-bottom: 15px; }
        #comment .inner .wrap article > span {
          float: right; }
          #comment .inner .wrap article > span a i {
            font-size: 16px;
            color: #ddd;
            transition: 0.3s; }
          #comment .inner .wrap article > span a:hover svg {
            font-size: 20px;
            transform: rotate(180deg); }
        #comment .inner .wrap article .pic {
          width: 100%;
          position: relative;
          padding: 35px 0; }
          #comment .inner .wrap article .pic:nth-of-type(1) {
            border-top: 1px solid #ff5b20;
            border-bottom: 1px solid #ff5b20; }
          #comment .inner .wrap article .pic:nth-of-type(2) {
            border-bottom: 1px solid #ff5b20; }
          #comment .inner .wrap article .pic img {
            width: 230px;
            height: 150px;
            object-fit: cover; }
          #comment .inner .wrap article .pic h3 {
            width: 300px;
            padding-bottom: 10px;
            position: absolute;
            top: 45px;
            left: 250px;
            border-bottom: 2px solid #333;
            font: normal 20px/1 "Rajdhani";
            color: #ccc; }
          #comment .inner .wrap article .pic span {
            position: absolute;
            top: 80px;
            left: 250px;
            font: 15px/1 "Rajdhani";
            color: #777; }
          #comment .inner .wrap article .pic p {
            position: absolute;
            top: 120px;
            left: 250px;
            font: 16px/1.4 "Rajdhani";
            color: #999; }
        #comment .inner .wrap article ul {
          width: 100%; }
          #comment .inner .wrap article ul li {
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #333;
            padding: 0px 10px; }
            #comment .inner .wrap article ul li:nth-of-type(1) {
              border-top: 1px solid #ff5b20; }
            #comment .inner .wrap article ul li:last-child {
              border-bottom: 1px solid #ff5b20; }
            #comment .inner .wrap article ul li::after {
              content: '';
              display: block;
              clear: both; }
            #comment .inner .wrap article ul li a {
              float: left;
              font: normal 17px/50px "Rajdhani";
              color: #aaa;
              transition: 0.2s; }
            #comment .inner .wrap article ul li span {
              float: right;
              font: normal 13px/50px "Rajdhani";
              color: #777; }
            #comment .inner .wrap article ul li:hover {
              background: #ff5b20; }
              #comment .inner .wrap article ul li:hover a {
                color: #eee;
                letter-spacing: 1px; }
              #comment .inner .wrap article ul li:hover span {
                display: none; }

#footer {
  width: 100%;
  padding: 100px 0 50px;
  background: #efefef; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer .inner .wrap {
      width: 100%;
      border-bottom: 1px solid #bbb;
      margin-bottom: 50px; }
      #footer .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner .wrap .menu1 {
        margin-bottom: 50px; }
        #footer .inner .wrap .menu1::after {
          content: '';
          display: block;
          clear: both; }
        #footer .inner .wrap .menu1 > li {
          float: left;
          margin-right: 120px; }
          #footer .inner .wrap .menu1 > li:last-child {
            float: right;
            margin-right: 0;
            width: 300px;
            position: relative; }
          #footer .inner .wrap .menu1 > li > a {
            display: block;
            font: bold 16px/1 'Rajdhani';
            color: #555;
            letter-spacing: 1px;
            margin-bottom: 10px; }
          #footer .inner .wrap .menu1 > li p {
            display: block;
            margin-bottom: 15px;
            font: 14px/1.2 'Rajdhani';
            color: #666; }
          #footer .inner .wrap .menu1 > li label {
            font-size: 20px;
            color: #777;
            position: absolute;
            bottom: 8px;
            right: 20px; }
          #footer .inner .wrap .menu1 > li input[type=email] {
            display: block;
            width: 100%;
            height: 40px;
            padding: 20px;
            border: none;
            background: #bbb;
            border-radius: 5px;
            font-family: 'Rajdhani';
            color: #fff; }
          #footer .inner .wrap .menu1 > li .depth li:last-child {
            margin-bottom: 0; }
          #footer .inner .wrap .menu1 > li .depth li a {
            font: 15px/1.4 'Rajdhani';
            color: #777; }
      #footer .inner .wrap address {
        float: left;
        font: 15px/1 'Rajdhani';
        color: #999; }
      #footer .inner .wrap > p {
        float: right;
        font: 15px/1 'Rajdhani';
        color: #999; }
      #footer .inner .wrap .visa {
        float: right;
        width: 100%;
        text-align: right;
        margin: 40px 0px 20px; }
        #footer .inner .wrap .visa span {
          font: 20px/1 'Lalezar';
          color: #999; }
          #footer .inner .wrap .visa span:nth-of-type(1) {
            margin-right: 20px; }
    #footer .inner .bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-content: center; }
      #footer .inner .bottom h1 {
        display: flex;
        align-content: center;
        justify-content: center; }
        #footer .inner .bottom h1 a {
          display: inline-block;
          margin-left: 15px;
          font: bold 20px/15px 'Rajdhani';
          color: #555;
          letter-spacing: 1px; }
        #footer .inner .bottom h1 i {
          font-size: 35px;
          color: #555;
          line-height: 10px; }
      #footer .inner .bottom .menu2::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner .bottom .menu2 li {
        float: left;
        display: block;
        padding: 0px 30px; }
        #footer .inner .bottom .menu2 li:first-child {
          padding-left: 0; }
        #footer .inner .bottom .menu2 li:last-child {
          padding-right: 0; }
        #footer .inner .bottom .menu2 li a {
          font: bold 15px/1 'Rajdhani';
          color: #666;
          letter-spacing: 1px; }
      #footer .inner .bottom .sns::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner .bottom .sns li {
        float: left;
        display: block;
        margin-right: 10px; }
        #footer .inner .bottom .sns li:last-child {
          margin-right: 0; }
        #footer .inner .bottom .sns li a {
          display: block;
          width: 40px;
          height: 40px;
          background: #ddd;
          border-radius: 50%;
          text-align: center; }
          #footer .inner .bottom .sns li a i {
            font-size: 20px;
            line-height: 40px;
            color: #888; }

#navi {
  position: fixed;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3; }
  #navi li {
    margin: 20px 0; }
    #navi li a {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background: #eee;
      transition: 0.5s; }
      #navi li a.on {
        background: #ff5b20;
        height: 60px; }

@media screen and (max-width: 1179px) {
  #header .inner {
    width: 100%;
    padding: 50px 30px; }
    #header .inner #gnb {
      display: none; }
    #header .inner .util li {
      float: left;
      display: block;
      margin-right: 20px; }
      #header .inner .util li:last-child {
        margin-right: 0; }
      #header .inner .util li a i {
        color: #aaa; }
    #header .inner .btnMo {
      display: block;
      float: right;
      transform: translateY(-50%);
      width: 40px;
      height: 40px;
      border: 2px solid #333;
      font: bold 15px/1 "Rajdhani";
      color: #333;
      text-align: center;
      letter-spacing: 2px;
      padding: 3px 0px 0px; }
    #header .inner .Mob {
      position: fixed;
      top: 0;
      left: -252px;
      width: 250px;
      height: 100vh;
      background: rgba(17, 17, 17, 0.9);
      border-right: 2px solid #fff;
      padding: 30px 30px;
      z-index: 10;
      opacity: 1;
      transition: all 0.5s; }
      #header .inner .Mob h1 {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid #444;
        float: left; }
        #header .inner .Mob h1 a {
          font: 18px/1 "Rajdhani";
          color: #aaa; }
          #header .inner .Mob h1 a span {
            display: inline-block;
            margin-right: 10px;
            font: bold 20px/1 "Rajdhani";
            color: #eee; }
          #header .inner .Mob h1 a i {
            font-size: 30px;
            color: #fff; }
      #header .inner .Mob #gnbMo {
        margin-bottom: 20px; }
        #header .inner .Mob #gnbMo li:last-child {
          padding-bottom: 20px;
          border-bottom: 1px solid #444; }
        #header .inner .Mob #gnbMo li a {
          display: block;
          width: 100%;
          padding: 15px 0;
          font: bold 16px/1 "Rajdhani";
          color: #ddd; }
      #header .inner .Mob .utilMo li a {
        display: block;
        width: 100%;
        padding: 10px 0;
        font: 14px/1 "Rajdhani";
        color: #aaa; }
      #header .inner .Mob.on {
        left: 0;
        opacity: 1; }

  #visual {
    width: 100%;
    height: 100vh;
    z-index: 1; }
    #visual img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

  #footer {
    width: 100%;
    padding: 100px 0 50px;
    background: #efefef; }
    #footer .inner {
      width: 1180px;
      margin: 0 auto;
      position: relative; }
      #footer .inner .wrap {
        width: 100%;
        border-bottom: 1px solid #bbb;
        margin-bottom: 50px; }
        #footer .inner .wrap::after {
          content: '';
          display: block;
          clear: both; }
        #footer .inner .wrap .menu1 {
          margin-bottom: 50px; }
          #footer .inner .wrap .menu1::after {
            content: '';
            display: block;
            clear: both; }
          #footer .inner .wrap .menu1 > li {
            float: left;
            margin-right: 120px; }
            #footer .inner .wrap .menu1 > li:last-child {
              float: right;
              margin-right: 0;
              width: 300px;
              position: relative; }
            #footer .inner .wrap .menu1 > li > a {
              display: block;
              font: bold 16px/1 'Rajdhani';
              color: #555;
              letter-spacing: 1px;
              margin-bottom: 10px; }
            #footer .inner .wrap .menu1 > li p {
              display: block;
              margin-bottom: 15px;
              font: 14px/1.2 'Rajdhani';
              color: #666; }
            #footer .inner .wrap .menu1 > li label {
              font-size: 20px;
              color: #777;
              position: absolute;
              bottom: 8px;
              right: 20px; }
            #footer .inner .wrap .menu1 > li input[type=email] {
              display: block;
              width: 100%;
              height: 40px;
              padding: 20px;
              border: none;
              background: #bbb;
              border-radius: 5px;
              font-family: 'Rajdhani';
              color: #fff; }
            #footer .inner .wrap .menu1 > li .depth li:last-child {
              margin-bottom: 0; }
            #footer .inner .wrap .menu1 > li .depth li a {
              font: 15px/1.4 'Rajdhani';
              color: #777; }
        #footer .inner .wrap address {
          float: left;
          font: 15px/1 'Rajdhani';
          color: #999; }
        #footer .inner .wrap > p {
          float: right;
          font: 15px/1 'Rajdhani';
          color: #999; }
        #footer .inner .wrap .visa {
          float: right;
          width: 100%;
          text-align: right;
          margin: 40px 0px 20px; }
          #footer .inner .wrap .visa span {
            font: 20px/1 'Lalezar';
            color: #999; }
            #footer .inner .wrap .visa span:nth-of-type(1) {
              margin-right: 20px; }
      #footer .inner .bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center; }
        #footer .inner .bottom h1 {
          display: flex;
          align-content: center;
          justify-content: center; }
          #footer .inner .bottom h1 a {
            display: inline-block;
            margin-left: 15px;
            font: bold 20px/15px 'Rajdhani';
            color: #555;
            letter-spacing: 1px; }
          #footer .inner .bottom h1 i {
            font-size: 35px;
            color: #555;
            line-height: 10px; }
        #footer .inner .bottom .menu2::after {
          content: '';
          display: block;
          clear: both; }
        #footer .inner .bottom .menu2 li {
          float: left;
          display: block;
          padding: 0px 30px; }
          #footer .inner .bottom .menu2 li:first-child {
            padding-left: 0; }
          #footer .inner .bottom .menu2 li:last-child {
            padding-right: 0; }
          #footer .inner .bottom .menu2 li a {
            font: bold 15px/1 'Rajdhani';
            color: #666;
            letter-spacing: 1px; }
        #footer .inner .bottom .sns::after {
          content: '';
          display: block;
          clear: both; }
        #footer .inner .bottom .sns li {
          float: left;
          display: block;
          margin-right: 10px; }
          #footer .inner .bottom .sns li:last-child {
            margin-right: 0; }
          #footer .inner .bottom .sns li a {
            display: block;
            width: 40px;
            height: 40px;
            background: #ddd;
            border-radius: 50%;
            text-align: center; }
            #footer .inner .bottom .sns li a i {
              font-size: 20px;
              line-height: 40px;
              color: #888; } }

/*# sourceMappingURL=style.css.map */
