* { margin: 0px; padding: 0px; box-sizing: border-box; }
ul, ol, li { list-style: none; }
a { text-decoration: none; outline: 1;}
fieldset { border: none; }

.wrap::after{
    content: '';
    display: none;
    clear: both;
}
