@charset 'utf-8';

@import "reset.scss";
@import "custom.scss";

//sub layout
@import "sub/layout_sub.scss";
@import "sub/philosophy.scss";
@import "sub/gallery.scss";
@import "sub/youtube.scss";
@import "sub/join.scss";
@import "sub/location.scss";

#popup{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100vh;
    background: rgba(122, 122, 122, 0.72);
    z-index: 5;

    .content{
        width: 500px; min-height: 300px;
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%,-50%);
        background: #222;
        padding: 20px;

        h1{
            font: bold 50px/1 $mainFon;
            color: #fff;
            text-align: center;
            margin: 50px 0 120px;
        }

        .wrap{
            float: left;

            label{
                font: 15px/1 $fontKo;
                color: #eee;
                margin-left: 5px;
            }

            input[type=checkbox]{
                background: #555;
                border: none;
            }
        }

        .close{
            float: right;
            font: 15px/1 $mainFon;
            color: #eee;
        }
    }
}



#header{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
    
    .inner{
        width: 1180px;
        margin: 0 auto;
        padding: 50px 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-content: center;

        h1{
            display: flex;
            align-content: center;
            justify-content: center;

            a{
                display: inline-block;
                margin-right: 15px;
                font: bold 16px/15px $mainFon;
                color: #111;
                letter-spacing: 1px;
            }
            
            i{
                font-size: 30px;
                color: #111;
                line-height: 10px;
            }
        }

        #gnb{
            &::after{
                content: ''; display: block; clear: both;
            }


            li{
                float: left;
                display: block;
                padding: 0px 30px;

                &:first-child{
                    padding-left: 0;
                }

                &:last-child{
                    padding-right: 0;
                }

                a{
                    font: 15px/1 $mainFon;
                    color: #333;
                }
            }
        }

        .util{
            &::after{
                content: ''; display: block; clear: both;
            }

            li{
                float: left;
                display: block;
                margin-right: 20px;

                &:last-child{
                    margin-right: 0;
                }

                &:hover a i{
                    transform: scale(1.2);
                    color: #777;
                }

                a i{
                    color: #aaa;
                    transition: 0.3s;
                }
            }
        }

        .btnMo{
            display: none;
            float: right;
            transform: translateY(-50%);
            width: 40px; height: 40px;
            border: 2px solid #333;
            font: bold 15px/1  $mainFon;
            color: #333;
            text-align: center;
            letter-spacing: 2px;
            padding: 3px 0px 0px; 
        }

        .Mob{
            position: fixed;
            top: 0; left: -252px;
            width: 250px; height: 100vh;
            background:rgba(17, 17, 17, 0.9);
            border-right: 2px solid #fff;
            padding: 30px 30px;
            z-index: 10;
            opacity: 1;
            transition: all 0.5s;

            h1{
                margin-bottom: 30px;
                padding-bottom: 20px;
                border-bottom: 1px solid #444;
                float: left;

                a{
                    font: 18px/1 $mainFon;
                    color: #aaa;

                    span{
                        display: inline-block;
                        margin-right: 10px;
                        font:  bold 20px/1 $mainFon;
                        color: #eee;
                    }

                    i{
                        font-size: 30px;
                        color: #fff;
                    }
                }
            }

            #gnbMo{
                margin-bottom: 20px;

                li{
                    &:last-child{
                        padding-bottom: 20px;
                        border-bottom: 1px solid #444;
                    }

                    a{
                        display: block;
                        width: 100%;
                        padding: 15px 0;
                        font: bold 16px/1 $mainFon;
                        color: #ddd;
                    }
                }
            }

            .utilMo{
                li{
                    a{
                        display: block;
                        width: 100%;
                        padding: 10px 0;
                        font: 14px/1 $mainFon;
                        color: #aaa;
                    }
                }
            }

            &.on{
                left: 0;
                opacity: 1;
            }
        }
    }
}

#visual{
    width: 100%;
    height: 100vh;
    background: #efefef;
    position: relative;

    >img{
        width: 100%; height: 100%;
        position: absolute;
        top: 0; left: 0;
        background: url(../img/visual1.jpg) no-repeat center/cover;
        opacity: 0.1;
    }

    .inner{
        width: 1180px; height: 100vh;
        margin: 0 auto;
        padding-top: 170px;
        position: relative;

        h1{
            font: bold 70px/1 'arial';
            color: #111;
            margin-bottom: 20px;
        }

        >p{
            width: 40%;
            font: 16px/1.7 'arial';
            color: #555;
        }

        .list{
            width: 53%; height: 270px;
            padding: 30px;
            position: absolute;
            top: 190px; right: 0;
            background: url(../img/쿠션지.jpg) no-repeat center/cover;

            &::after{
                content: ''; display: block; clear: both;
            }

            h2{
                width: 130px;
                font: 28px/1 'arial';
                color: #ddd;
                margin-bottom: 30px;

                &::before{
                    content: ''; 
                    display: block;
                    width: 80px; height: 2px;
                    background: #eee;
                    margin-bottom: 20px;
                }
            }

            ul{
                width: 100%;
                position: absolute;
                bottom: 30px; left: 30px;

                li{
                    float: left;
                    width: calc(100% / 4 - 20px);

                    a{
                        font: bold 15px/1 'arial';
                        color: #ccc;
                    }

                    >span{
                        display: block;
                        margin-top: 5px;
                        font: 14px/1 'arial';
                        color: #999;
                    }
                }
            }
            
            >span{
                position: absolute;
                bottom: -40px; left: 0;
                font: bold 14px/1 'arial';
                color: #333;
            }
        }

        .wrap{
            width: calc(250px * 5); height: 420px;
            position: absolute;
            bottom: 0; left: 0;
            overflow: hidden;

            &::after{
                content: ''; display: block; clear: both;
            }

            article{
                width: 250px; height: 90%;
                float: left;
                position: relative;
                transition: 0.5s;

                &:hover{
                    .pic img{
                        opacity: 0.9;
                    }

                    .text{
                        p{
                            color: #fff;
                        }

                        h3{
                            color: #fff;
                            border-bottom: 2px solid #fff; 
                        }

                        span a, i{
                            color: #fff;
                        }
                    }
                }

                .pic{
                    width: 100%; height: 100%;
                    position: absolute;
                    top: 0; left: 0;
                    z-index: 1;
                    
                    img{
                        width: 100%; height: 100%;
                        object-fit: cover;
                        transition: all 0.5s;
                        opacity: 0;
                        filter: brightness(0.5);
                    }
                }

                .text{
                    width: 160px; height: 100%;
                    position: absolute;
                    top: 50%; left: 50%;
                    padding: 50px 0;
                    transform: translate(-50%, -50%);
                    z-index: 2;

                    >p{
                        font: 14px/1 'arial';
                        color: #222;
                        margin-top: 30px;
                        margin-bottom: 20px;
                        z-index: 2;
                    }
    
                    h3{
                        font: bold 28px/1.4 'arial';
                        color: #111;
                        z-index: 2;
                        border-bottom: 2px solid #111;
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                    }
                    
                    span{
                        display: block;
                        width: 100%;
                        position: relative;
                        z-index: 2;

                        &:hover{
                            a{
                                font-size: 14px;
                            }

                            i{
                                transform: translateX(-20px);
                            }
                        }
    
                        a{
                            font: 13px/1 'arial';
                            color: #222;
                            transition: 0.5s;
    
                            i{
                                font-size: 14px;
                                color: #222;
                                position: absolute;
                                top: 50%; right:0px;
                                margin-top: -6px;
                                transition: 0.5s;
                            }
                        }
                    }
                }
                
            }
        }
    }
}

// news -------------------------------------------------------------------------------
#news{
    width: 100%; 
    padding: 200px 0px;
    background: #111;

    &.on .inner{
        h1, p{
            transform: translateY(0);
            opacity: 1;
        }

        .slider{
            transition-delay: 0.4s;
            opacity: 1;
            transform: scale(1);
        }
    }

    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        h1{
            @include title();
            transform: translateY(50px);
            transition: 1s;
            opacity: 0;

            &::after{
                content: '';
                display: block;
                width: 40px; height: 2px;
                background:$mainCol;
                position: absolute;
                top: 50px; left: 50%;
                transform: translateX(-50%);
            }

        }

        >p{
            @include title2();
            transform: translateY(-50px);
            transition: 1s;
            opacity: 0;
        }

        .slider{
            width: 800px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            transform: scale(0.8);
            opacity: 0;
            transition: 1s;

            ul{
                width: calc(800px * 4); height: 400px;
                overflow: hidden;
                margin-left: -800px;
                
                li{
                    width: 800px; height: 100%;
                    float: left;

                    img{
                        width: 100%; height: 100%;
                        object-fit: cover;
                        border-radius: 20px;
                    }
                }
            }
        }

        .prev{
            width: 50px; height: 50px;
            text-align: center;
            position: absolute;
            top: 65%; left: 90px;
            cursor: pointer;

            span{
                display: block;
                font: 13px/50px 'arial';
                color: #eee;
                opacity: 0;
                transform: translateX(-50px);
                transition: 0.5s;
            }

            &::before{
                content: '';
                display: block;
                width: 50px; height: 1px;
                background: #eee;
                position: absolute;
                top: 0; left: 50px;
                transform: rotate(150deg);
                transform-origin: left center;
                transition: 1s;
            }

            &::after{
                content: '';
                display: block;
                width: 50px; height: 1px;
                background: #eee;
                position: absolute;
                bottom: 0; left: 50px;
                transform: rotate(-150deg);
                transform-origin: left center;
                transition: 1s;
            }

            &:hover{
                span{
                    transform: translateX(0);
                    opacity: 1;
                }

                &::before{
                    transform: rotate(-180deg);
                }

                &::after{
                    transform: rotate(180deg);
                }
            }
        }

        .next{
            width: 50px; height: 50px;
            position: absolute;
            top: 65%; right:80px;
            text-align: center;
            cursor: pointer;

            span{
                display: block;
                font: 13px/50px 'arial';
                color: #eee;
                transform: translateX(50px);
                transition: 0.5s;
                opacity: 0;
            }

            &::before{
                content: '';
                display: block;
                width: 50px; height: 1px;
                background: #eee;
                position: absolute;
                top: 0; left: -50px;
                transform: rotate(-150deg);
                transform-origin: right center;
                transition: 1s;
            }

            &::after{
                content: '';
                display: block;
                width: 50px; height: 1px;
                background: #eee;
                position: absolute;
                bottom: 0; left: -50px;
                transform: rotate(150deg);
                transform-origin: right center;
                transition: 1s;
            }

            &:hover{
                span{
                    opacity: 1;
                    transform: translateX(0);
                }

                &::before{
                    transform: rotate(180deg);
                }

                &::after{
                    transform: rotate(-180deg);
                }
            }
        }
    }
}

// brand -------------------------------------------------------------------------------
#brand{
    width: 100%;
    padding: 200px 0;
    background: #efefef;

    
    &.on .inner{
        h1, p{
            transform: translateY(0);
            opacity: 1;
        }


        .wrap article{
            opacity: 1;
            transition-delay: 0.5s;

            &:nth-of-type(1){
                transform: translateY(-30px);
            }

            &:nth-of-type(2){
                transform: translateY(50px);
            }

            &:nth-of-type(3){
                transform: translateY(-30px);
            }
        }
    }

    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        h1{
            @include title($color:#111);
            transform: translateY(50px);
            transition: 1s;
            opacity: 0;

            &::after{
                content: '';
                display: block;
                width: 40px; height: 2px;
                background:$mainCol;
                position: absolute;
                top: 50px; left: 50%;
                transform: translateX(-50%);
            }
        }

        >p{
            @include title2($color:#111);
            transform: translateY(-50px);
            transition: 1s;
            opacity: 0;
        }

        .wrap{
            width: 100%;

            &::after{
                content: ''; display: block; clear: both;
            }

            article{
                width: 360px; height: 500px;
                float: left;
                margin-right: 40px;
                position: relative;
                transition: 1.5s;
                opacity: 0;

                &:hover{ 
                    .txt{
                        opacity: 1;
                        left: -5%;
                    }
                }
    
                &:last-child{
                    margin-right: 0;
                }

                &:nth-of-type(1){
                    transform: translateY(-130px);
                }

                &:nth-of-type(2){
                    transform: translateY(150px);
                }

                &:nth-of-type(3){
                    transform: translateY(-130px);
                }

                img{
                    width: 100%; height: 100%;
                    object-fit: cover;
                    z-index: 3;
                }

                .txt{
                    width: 90%; height: 110%;
                    position: absolute;
                    top: 50%; left:-10%;
                    transform: translateY(-50%);
                    background: rgba(255, 100, 44, 0.795);
                    padding: 80px 20px;
                    transition: all 0.5s;
                    opacity: 0;
                    z-index: 1;

                    h2{
                        font: bold 24px/1 $mainFon;
                        color: #eee;
                        margin-bottom: 40px;
                    }

                    p{
                        font: 18px/1.3 $mainFon;
                        color: #ddd;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
}

// banner ------------------------------------------------------------------------------
#banner{
    width: 100%;
    padding: 100px;
    background: url(../img/banner1.jpg) no-repeat fixed;

    .inner{
        width: 1180px;
        margin: 0 auto;
        text-align: center;
        position: relative;

        h1{
            @include title($color:#eee);

            &::after{
                content: '';
                display: block;
                width: 40px; height: 2px;
                background:$mainCol;
                position: absolute;
                top: 50px; left: 50%;
                transform: translateX(-50%);
            }
        }

        p{
            font: normal 16px/1.4 $mainFon;
            color: #ddd;
        }
    }
}

// comment -----------------------------------------------------------------------------
#comment{
    width: 100%;
    padding: 200px 0;
    background: #111;

    &.on .inner{
        h1, p{
            transform: translateY(0);
            opacity: 1;
        }
    
        .wrap article{
            opacity: 1;

            &:first-child{
                transition-delay: 0.3s;
                transform: translateX(0px);
            }

            &:last-child{
                transition-delay: 0.3s;
                transform: translateX(0px);
            }
        }
    }

    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        h1{
            @include title();
            transform: translateY(50px);
            transition: 1s;
            opacity: 0;

            &::after{
                content: '';
                display: block;
                width: 40px; height: 2px;
                background:$mainCol;
                position: absolute;
                top: 50px; left: 50%;
                transform: translateX(-50%);
            }

        }

        >p{
            @include title2();
            transform: translateY(-50px);
            transition: 1s;
            opacity: 0;
        }

        .wrap{
            width: 100%;

            &::after{
                content: ''; display: block; clear: both;
            }

            article{
                width: 580px; min-height: 500px;
                float: left;
                margin-right: 20px;
                padding: 30px 10px;
                background: rgba(187, 187, 187, 0.144);
                transition: 1s;
                opacity: 0;

                &:first-child{
                    transform: translateX(-200px);
                }

                &:last-child{
                    margin-right: 0;
                    transform: translateX(200px);
                }

                h2{
                    display: inline-block;
                    font: bold 20px/1 $mainFon;
                    color: #eee;
                    margin-bottom: 5px;
                }

                >span{
                    float: right;

                    a{
                        i{
                            font-size: 16px;
                            color: #ddd;
                            transition: 0.3s;
                        }

                        &:hover svg{
                            font-size: 20px;
                            transform: rotate(180deg);
                        }
                    }
                }

                .pic{
                    width: 100%;
                    position: relative;
                    padding: 35px 0;

                    &:nth-of-type(1){
                        border-top: 1px solid $mainCol;
                        border-bottom: 1px solid $mainCol;
                    }

                    &:nth-of-type(2){
                        border-bottom: 1px solid $mainCol;
                    }

                    img{
                        width: 230px; height: 150px;
                        object-fit: cover;
                    }

                    h3{
                        width: 300px;
                        padding-bottom: 10px;
                        position: absolute;
                        top: 45px; left: 250px;
                        border-bottom: 2px solid #333;
                        font: normal 20px/1 $mainFon;
                        color: #ccc;
                    }

                    span{
                        position: absolute;
                        top: 80px; left: 250px;
                        font: 15px/1 $mainFon;
                        color: #777;
                    }

                    p{
                        position: absolute;
                        top: 120px; left: 250px;
                        font: 16px/1.4 $mainFon;
                        color: #999;
                    }
                    
                }

                ul{
                    width: 100%;
                    
                    li{
                        width: 100%; height: 50px; 
                        border-bottom: 1px solid #333;
                        padding: 0px 10px;

                        &:nth-of-type(1){
                            border-top: 1px solid $mainCol;
                        }

                        &:last-child{
                            border-bottom: 1px solid $mainCol;
                        }

                        &::after{
                            content: ''; display: block; clear: both;
                        }

                        a{
                            float: left;
                            font: normal 17px/50px $mainFon;
                            color: #aaa;
                            transition: 0.2s;
                        }

                        span{
                            float: right;
                            font: normal 13px/50px $mainFon;
                            color: #777;
                        }

                        &:hover{
                            background: $mainCol;

                            a{
                                color: #eee;
                                letter-spacing: 1px;
                            }
                            span{
                                display: none;
                            }
                        }

                    }
                }
            }

        }
    }
}


#footer{
    width: 100%;
    padding: 100px 0 50px;
    background: #efefef;

    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        .wrap{
            width: 100%;
            border-bottom: 1px solid #bbb;
            margin-bottom: 50px;

            &::after{
                content: ''; display: block; clear: both;
            }

            .menu1{
                margin-bottom: 50px;

                &::after{
                    content: ''; display: block; clear: both;
                }
                >li{
                    float: left;
                    margin-right: 120px;

                    &:last-child{
                        float: right;
                        margin-right: 0;
                        width: 300px;
                        position: relative;
                    }

                    >a{
                        display: block;
                        font: bold 16px/1 'Rajdhani';
                        color: #555;
                        letter-spacing: 1px;
                        margin-bottom: 10px;
                    }

                    p{
                        display: block;
                        margin-bottom: 15px;
                        font: 14px/1.2 'Rajdhani';
                        color: #666;
                    }

                    label{
                        font-size: 20px;
                        color: #777;
                        position: absolute;
                        bottom: 8px; right: 20px;
                    }

                    input[type=email]{
                        display: block;
                        width: 100%; height: 40px;
                        padding: 20px;
                        border: none;
                        background: #bbb;
                        border-radius: 5px;
                        font-family: 'Rajdhani';
                        color: #fff;
                    }
                    
                    .depth{
                        li{

                            &:last-child{
                                margin-bottom: 0;
                            }

                            a{
                                font: 15px/1.4 'Rajdhani';
                                color: #777;
                            }
                        }
                    }
                }
            }

            address{
                float: left;
                font: 15px/1 'Rajdhani';
                color: #999;
            }

            >p{
                float: right;
                font: 15px/1 'Rajdhani';
                color: #999;
            }

            .visa{
                float: right;
                width: 100%;
                text-align: right;
                margin: 40px 0px 20px;


                span{
                    font: 20px/1 'Lalezar';
                    color: #999;

                    &:nth-of-type(1){
                        margin-right: 20px;
                    }
                }
            }   
        }

        .bottom{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-content: center;

            h1{
                display: flex;
                align-content: center;
                justify-content: center;
    
                a{
                    display: inline-block;
                    margin-left: 15px;
                    font: bold 20px/15px 'Rajdhani';
                    color: #555;
                    letter-spacing: 1px;
                }
                
                i{
                    font-size: 35px;
                    color: #555;
                    line-height: 10px;
                }
            }

            .menu2{
                &::after{
                    content: ''; display: block; clear: both;
                }
    
    
                li{
                    float: left;
                    display: block;
                    padding: 0px 30px;

                    &:first-child{
                        padding-left: 0;
                    }
    
                    &:last-child{
                        padding-right: 0;
                    }
    
                    a{
                        font: bold 15px/1 'Rajdhani';
                        color: #666;
                        letter-spacing: 1px;
                    }
                }
            }

            .sns{
                &::after{
                    content: ''; display: block; clear: both;
                }
    
                li{
                    float: left;
                    display: block;
                    margin-right: 10px;
    
                    &:last-child{
                        margin-right: 0;
                    }

                    a{
                        display: block;
                        width: 40px; height: 40px;
                        background: #ddd;
                        border-radius: 50%;
                        text-align: center;

                        i{
                            font-size: 20px;
                            line-height: 40px;
                            color: #888;
                        }
                    }
                }
            }
        }
    }
}

#navi{
    position: fixed;
    right: 50px; top: 50%;
    transform: translateY(-50%);
    z-index: 3;

    li{
        margin: 20px 0;

        a{
            display: block;
            width: 10px; height: 10px;
            border: 1px solid $mainCol;
            border-radius: 5px;
            background: transparent;
            transition: 0.5s;

            &.on{
                background: $mainCol;
                height: 60px;
            }
        }
    }
}

@media screen and (max-width:1179px){
    #header{
        
        .inner{
            width: 100%;
            padding: 50px 30px;
    
            #gnb{
                display: none;
            }
    
            .util{
    
                li{
                    float: left;
                    display: block;
                    margin-right: 20px;
    
                    &:last-child{
                        margin-right: 0;
                    }
    
                    a i{
                        color: #aaa;
                    }
                }
            }
    
            .btnMo{
                display: block;
                float: right;
                transform: translateY(-50%);
                width: 40px; height: 40px;
                border: 2px solid #333;
                font: bold 15px/1  $mainFon;
                color: #333;
                text-align: center;
                letter-spacing: 2px;
                padding: 3px 0px 0px; 
            }
    
            .Mob{
                position: fixed;
                top: 0; left: -252px;
                width: 250px; height: 100vh;
                background:rgba(17, 17, 17, 0.9);
                border-right: 2px solid #fff;
                padding: 30px 30px;
                z-index: 10;
                opacity: 1;
                transition: all 0.5s;
    
                h1{
                    margin-bottom: 30px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #444;
                    float: left;
    
                    a{
                        font: 18px/1 $mainFon;
                        color: #aaa;
    
                        span{
                            display: inline-block;
                            margin-right: 10px;
                            font:  bold 20px/1 $mainFon;
                            color: #eee;
                        }
    
                        i{
                            font-size: 30px;
                            color: #fff;
                        }
                    }
                }
    
                #gnbMo{
                    margin-bottom: 20px;
    
                    li{
                        &:last-child{
                            padding-bottom: 20px;
                            border-bottom: 1px solid #444;
                        }
    
                        a{
                            display: block;
                            width: 100%;
                            padding: 15px 0;
                            font: bold 16px/1 $mainFon;
                            color: #ddd;
                        }
                    }
                }
    
                .utilMo{
                    li{
                        a{
                            display: block;
                            width: 100%;
                            padding: 10px 0;
                            font: 14px/1 $mainFon;
                            color: #aaa;
                        }
                    }
                }
    
                &.on{
                    left: 0;
                    opacity: 1;
                }
            }
        }
    }
    
    #visual{
        width: 100%;
        height: 100vh;
        z-index: 1;
    
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    #footer{
        width: 100%;
        padding: 100px 0 50px;
        background: #efefef;
    
        .inner{
            width: 1180px;
            margin: 0 auto;
            position: relative;
    
            .wrap{
                width: 100%;
                border-bottom: 1px solid #bbb;
                margin-bottom: 50px;
    
                &::after{
                    content: ''; display: block; clear: both;
                }
    
                .menu1{
                    margin-bottom: 50px;
    
                    &::after{
                        content: ''; display: block; clear: both;
                    }
                    >li{
                        float: left;
                        margin-right: 120px;
    
                        &:last-child{
                            float: right;
                            margin-right: 0;
                            width: 300px;
                            position: relative;
                        }
    
                        >a{
                            display: block;
                            font: bold 16px/1 'Rajdhani';
                            color: #555;
                            letter-spacing: 1px;
                            margin-bottom: 10px;
                        }
    
                        p{
                            display: block;
                            margin-bottom: 15px;
                            font: 14px/1.2 'Rajdhani';
                            color: #666;
                        }
    
                        label{
                            font-size: 20px;
                            color: #777;
                            position: absolute;
                            bottom: 8px; right: 20px;
                        }
    
                        input[type=email]{
                            display: block;
                            width: 100%; height: 40px;
                            padding: 20px;
                            border: none;
                            background: #bbb;
                            border-radius: 5px;
                            font-family: 'Rajdhani';
                            color: #fff;
                        }
                        
                        .depth{
                            li{
    
                                &:last-child{
                                    margin-bottom: 0;
                                }
    
                                a{
                                    font: 15px/1.4 'Rajdhani';
                                    color: #777;
                                }
                            }
                        }
                    }
                }
    
                address{
                    float: left;
                    font: 15px/1 'Rajdhani';
                    color: #999;
                }
    
                >p{
                    float: right;
                    font: 15px/1 'Rajdhani';
                    color: #999;
                }
    
                .visa{
                    float: right;
                    width: 100%;
                    text-align: right;
                    margin: 40px 0px 20px;
    
    
                    span{
                        font: 20px/1 'Lalezar';
                        color: #999;
    
                        &:nth-of-type(1){
                            margin-right: 20px;
                        }
                    }
                }   
            }
    
            .bottom{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-content: center;
    
                h1{
                    display: flex;
                    align-content: center;
                    justify-content: center;
        
                    a{
                        display: inline-block;
                        margin-left: 15px;
                        font: bold 20px/15px 'Rajdhani';
                        color: #555;
                        letter-spacing: 1px;
                    }
                    
                    i{
                        font-size: 35px;
                        color: #555;
                        line-height: 10px;
                    }
                }
    
                .menu2{
                    &::after{
                        content: ''; display: block; clear: both;
                    }
        
        
                    li{
                        float: left;
                        display: block;
                        padding: 0px 30px;
    
                        &:first-child{
                            padding-left: 0;
                        }
        
                        &:last-child{
                            padding-right: 0;
                        }
        
                        a{
                            font: bold 15px/1 'Rajdhani';
                            color: #666;
                            letter-spacing: 1px;
                        }
                    }
                }
    
                .sns{
                    &::after{
                        content: ''; display: block; clear: both;
                    }
        
                    li{
                        float: left;
                        display: block;
                        margin-right: 10px;
        
                        &:last-child{
                            margin-right: 0;
                        }
    
                        a{
                            display: block;
                            width: 40px; height: 40px;
                            background: #ddd;
                            border-radius: 50%;
                            text-align: center;
    
                            i{
                                font-size: 20px;
                                line-height: 40px;
                                color: #888;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-height: 900px){
    #visual{
    
        .inner{
            padding-top: 170px;
    
            .list{
                top: 170px; right: 0;
    
                &::after{
                    content: ''; display: block; clear: both;
                }
            }
    
            .wrap{
                width: calc(250px * 5); height: 380px;
    
                article{
                    width: 250px; height: 100%;
                    padding: 20px 0;
    
    
                    .pic{
                        width: 90%; height: 90%;
                        padding: 25px 0 10px;
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

@media screen and(max-height: 800px){
    #visual{
    
        .inner{
            padding-top: 150px;
    
            .list{
                top: 150px; right: 0;

                span{
                    bottom: -30px
                }
            }
    
            .wrap{
                width: calc(250px * 5); height: 340px;
    
                article{
                    width: 250px; height: 100%;
                    padding: 20px 0;
    
    
                    .pic{
                        width: 90%; height: 90%;
                        padding: 25px 0 10px;
                        position: absolute;
                        top: 50%; left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}