.inner{
    .title{
        position: relative;
        width: 100%;

        &::after{
            content: ''; display: block; clear: both;
        }
        h2{
            font: bold 50px/1 $mainFon;
            color: #222;
            letter-spacing: 1px;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    
        p{
            position: absolute;
            bottom: 0; right: 0;
            width: 200px; height: 30px;
            background: #222;
            border-radius: 15px;
            font: 15px/30px $mainFon;
            color: #eee;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    
    .menu{
        position: relative;

        dt{
            width: 120px; height: 40px;
            position: absolute;
            left: -200px;

            a{
                font: 18px/40px $mainFon;
                color: #333;
            }
            

            &:nth-of-type(1){ top: calc(40px * 0); border-top: 2px solid #111; }
            &:nth-of-type(2){ top: calc(40px * 1); }
            &:nth-of-type(3){ top: calc(40px * 2); }
            &:nth-of-type(4){ top: calc(40px * 3); border-bottom: 2px solid #111;}
        }

        #menu1{
            width: 100%;

            table{
                width: 100%;
                margin: 0 auto 50px;
                border-collapse: collapse;

                .h{
                    position: absolute;
                    top: -9999px;
                    opacity: 0;
                }

                tr{

                    td{
                        padding: 30px 0;
                        border-top: 1px solid #111;
                        font: bold 15px/1 $mainFon;
                        color: #222;
                        position: relative;

                        &:nth-of-type(1){ width: 20%; }
                        &:nth-of-type(2){ width: auto; }
                        &:nth-of-type(3){ width: 20%; }

                        b{
                            position: absolute;
                            top: 30px;
                        }

                        a{
                            font: bold 22px/1 $mainFon;
                            color: #111;
                        }

                        p{
                            font: normal 14px/1 $mainFon;
                            color: #222;
                            margin-top: 20px;
                            margin-bottom: 30px;
                        }

                        span{
                            display: block;
                            height: 20px;
                            font: bold 15px/1 $mainFon;
                            color: #222;
                        }
                    }
                }
            }
        }
    }
}