.inner{
    .title{
        position: relative;
        width: 100%;

        &::after{
            content: ''; display: block; clear: both;
        }
        h2{
            font: bold 50px/1 $mainFon;
            color: #222;
            letter-spacing: 1px;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
    
        p{
            position: absolute;
            bottom: 0; right: 0;
            width: 200px; height: 30px;
            background: #222;
            border-radius: 15px;
            font: 15px/30px $mainFon;
            color: #eee;
            text-align: center;
            margin-bottom: 20px;
        }
    }
    
    .menu{
        position: relative;

        >dt{
            width: 120px; height: 35px;
            position: absolute;
            left: -150px;

            a{
                display: block;
                width: 120px;
                font: 18px/35px $mainFon;
                color: #333;
                
                &.on{
                    font-weight: bold;
                    font-size: 20px;
                    color: $mainCol;
                }
            }
            
            &:nth-of-type(1){ top: calc(40px * 0); border-top: 2px solid #111; }
            &:nth-of-type(2){ top: calc(40px * 1); }
            &:nth-of-type(3){ top: calc(40px * 2); }
            &:nth-of-type(4){ top: calc(40px * 3); border-bottom: 2px solid #111;}
        }

        >dd{
            display: none;

            &#menu1{
                display: block;
            }
        }

        #menu1{
            width: 100%;

            table{
                width: 100%;
                margin: 0 auto 50px;
                border-collapse: collapse;

                .h{
                    position: absolute;
                    top: -9999px;
                    opacity: 0;
                }

                tr{
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover{
                        background: rgba(252, 108, 56, 0.3);
                    }

                    td{
                        padding: 30px 0;
                        border-top: 1px solid #111;
                        font: bold 15px/1 $mainFon;
                        color: #222;
                        position: relative;

                        &:nth-of-type(1){ width: 20%; }
                        &:nth-of-type(2){ width: auto; }
                        &:nth-of-type(3){ width: 20%; font-weight: normal; color: #888;}

                        b{
                            position: absolute;
                            top: 30px;
                        }

                        a{
                            font: bold 22px/1 $mainFon;
                            color: #111;
                        }

                        p{
                            font: normal 14px/1 $mainFon;
                            color: #222;
                            margin-top: 20px;
                            margin-bottom: 30px;
                        }

                        span{
                            display: block;
                            height: 20px;
                            font: bold 15px/1 $mainFon;
                            color: #222;
                        }
                    }
                }
            }
        }
    }

    .pagination{
        width: 100%; height: 30px;
        text-align: left;

        >div{
            display: inline-block;
        }

        .prev{
            width: 30px; height: 30px;
            text-align: center;
            margin-right: 5px;
            position: relative;
            cursor: pointer;

            a{
                display: inline-block;
                font: bold 15px/30px $mainFon;
                color: #333;
                transition: 0.5s;
            }

            &::before{
                content: '';
                display: block;
                width: 10px; height: 2px;
                background: #333;
                transform-origin: right center;
                position: absolute;
                top: 13px; left: -15px;
                transition: 0.5s;
                
            }

            &::after{
                content: '';
                display: block;
                width: 10px; height: 2px;
                background: #333;
                transform-origin: right center;
                position: absolute;
                top: 13px; left: -15px;
                transition: 0.5s;
            }

            &:hover{
                a{
                    transform: translateX(30px);
                    opacity: 0;
                }

                &::before{
                    transform: translateX(25px) rotate(140deg);
                }
                &::after{
                    transform: translateX(25px) rotate(-140deg);
                }
            }
        }

        .next{
            width: 30px; height: 30px;
            text-align: center;
            margin-left: 5px;
            position: relative;
            cursor: pointer;

            a{
                display: inline-block;
                font: bold 15px/30px $mainFon;
                color: #333;
                transition: 0.5s;
            }

            &::before{
                content: '';
                display: block;
                width: 10px; height: 2px;
                background: #333;
                transform-origin: left center;
                position: absolute;
                top: 13px; right: -15px;
                transition: 0.5s;
                
            }

            &::after{
                content: '';
                display: block;
                width: 10px; height: 2px;
                background: #333;
                transform-origin: left center;
                position: absolute;
                top: 13px; right: -15px;
                transition: 0.5s;
            }

            &:hover{
                a{
                    transform: translateX(-30px);
                    opacity: 0;
                }

                &::before{
                    transform: translateX(-25px) rotate(140deg);
                }
                &::after{
                    transform: translateX(-25px) rotate(-140deg);
                }
            }
        }

        .numbers{
            display: inline-block;
            
            a{
                display: inline-block;
                width: 10px; height: 30px;
                margin: 0 5px;
                font: 17px/30px $mainFon;
                color: #555;
                transition: 0.5s;

                &:hover{
                    font-weight: bold;
                    color: #333;
                    border-bottom: 2px solid #333;
                }

                &.on{
                    font-weight: bold;
                    font-size: 19px;
                    color: #333;
                    border-bottom: 2px solid #333;
                }
            }
        }
    }
}


@media screen and (max-width: 1179px){
    .inner{
        
        .menu{
    
            >dt{
                display: none;
            }
    
            #menu1{
    
                table{
    
                    tr{
    
                        td{
                            &:nth-of-type(1){ width: 20%; }
                            &:nth-of-type(2){ width: auto; }
                            &:nth-of-type(3){ width: 23%; }
    
                            b{
                                position: absolute;
                                top: 30px;
                            }
    
                            a{
                                font: bold 20px/1 $mainFon;
                                color: #111;
                            }
                        }
                    }
                }
            }
    
            #menu2{
                >dl{
                    width: 100%;
                    margin: 0 auto 50px;
                    position: relative;
    
                    dt{
                        padding: 30px 0 30px 100px;
                        border-top: 1px solid #333;
                        position: relative;
                        transition: 0.5s;
                        cursor: pointer;
    
                        span{
                            position: absolute;
                            top: 50%; left: 20px;
                            transform: translateY(-50%);
    
                            i{
                                font-size: 35px;
                                color: #333;
                                transition: 0.5s;
                            }
                        }
    
                        p{
                            width: 70%;
                            font: bold 22px/1 $mainFon;
                            color: #111;
                            transition: 0.5s;
                        }
    
                        >i{
                            display: block;
                            font-size: 18px;
                            color: #888;
                            position: absolute;
                            top: 50%; right: 10px;
                            transform: translateY(-50%);
                            transition: 0.5s;
                        }
    
                        &.on{
                            span i{
                                color: $mainCol;
                            }
    
                            p{
                                color: #333;
                            }
    
                            >i{
                                color: #333;
                            }
                        }
    
                        &:hover{
                            background: rgba(252, 108, 56, 0.3);
                        }
                    }
    
                    dd{
                        width: 100%;
                        position: relative;
                        padding: 30px 0 30px 100px;
                        background: #eee;
                        border-top: 1px solid #999;
    
                        span{
                            font: bold 35px/1 $mainFon;
                            color: #333;
                            position: absolute;
                            top: 50%; left: 20px;
                            transform: translateY(-50%);
    
                            b{
                                display: block;
                                font: bold 17px/1.2 $mainFon;
                                color: #555;
                            }
                        }
    
                        p{
                            width: 70%;
                            font: 18px/1.6 $mainFon;
                            color: #333; 
                        }
                    }
                }
            }
    
            #menu3{
                >dl{
                    width: 100%;
                    margin: 0 auto 50px;
                    position: relative;
    
                    dt{
                        padding: 30px 0 30px 100px;
                        border-top: 1px solid #333;
                        position: relative;
                        cursor: pointer;
                        transition: 0.5s;
    
                        span{
                            font: bold 50px/1 $mainFon;
                            color: #333;
                            position: absolute;
                            top: 50%; left: 20px;
                            transform: translateY(-50%);
                            transition: 0.5s;
                        }
    
                        p{
                            width: 70%;
                            font: bold 22px/1 $mainFon;
                            color: #111;
                            transition: 0.5s;
                        }
    
                        >i{
                            display: block;
                            font-size: 18px;
                            color: #888;
                            position: absolute;
                            top: 50%; right: 10px;
                            transform: translateY(-50%);
                            transition: 0.5s;
                        }
    
                        &.on{
                            background: #222;
                            span {
                                color: $mainCol;
                            }
    
                            p{
                                color: #eee;
                                font-weight: normal;
                            }
    
                            >i{
                                color: #333;
                            }
                        }
    
                        &:hover{
                            span {
                                color: $mainCol;
                            }
                        }
                    }
    
                    dd{
                        width: 100%;
                        position: relative;
                        padding: 30px 0 30px 100px;
                        background: #eee;
                        border-top: 1px solid #999;
    
                        span{
                            font: bold 50px/1 $mainFon;
                            color: #111;
                            position: absolute;
                            top: 50%; left: 20px;
                            transform: translateY(-50%);
                        }
    
                        p{
                            width: 70%;
                            font: 18px/1.6 $mainFon;
                            color: #333; 
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }
    
        .pagination{
            text-align: center;
        }
    }
    
}



@media screen and (max-width: 539px){
    .inner{
        .title{
            
            h2{
                font: bold 35px/1 $mainFon;
                letter-spacing: 1px;
                padding-bottom: 0px;
            }
        
            p{
                position: relative;
            }
        }
        
        .menu{
    
            #menu1{
    
                table{
    
                    tr{
    
                        td{
                            font: bold 14px/1 $mainFon;

                            &:nth-of-type(1){ width: 20%; }
                            &:nth-of-type(2){ width: auto; }
                            &:nth-of-type(3){ width: 23%; }
    
    
                            a{
                                display: block;
                                width: 90%;
                                font: bold 18px/1 $mainFon;
                                color: #111;
                            }

                            p{
                                width: 90%;
                                line-height: 1.2;
                            }

                            span{
                                display: block;
                                height: 40px;
                                font: bold 15px/1 $mainFon;
                                color: #222;
                                position: absolute;
                                top: 30px;
                            }
                        }
                    }
                }
            }
    
        }
    
    }
    
}