.gallery{
    .inner{
        h1{
            font: bold 24px/1 $mainFon;
            color: #111;
            padding-bottom: 20px;
            margin: 0px 10px;
            border-bottom: 2px solid #111;
        }
    }
    
}


#gallery{
    width: 100%;

    ul{
        width: 100%;
        
        &::after{
            content: ''; display: block; clear: both;
        }

        li{
            float: left;
            width: 280px;
            padding: 20px;
            margin-right: 20px;
            margin-top: 20px;
            background: #eee;
            box-shadow: 10px 10px 20px rgba(0,0,0, 0.35);

            &:nth-of-type(4n){
                margin-right: 0;
            }

            a{
                display: block;
                width: 100%; height: 250px;
                margin-bottom: 10px;

                &:hover img{
                    filter: grayscale(0%) contrast(90%) saturate(1);
                }
                
                img{
                    width: 100%; height: 100%;
                    object-fit: cover;
                    filter: grayscale(80%) contrast(80%) saturate(0);
                    transition: 0.5s;
                }
            }

            h2{
                font: 24px/1 $mainFon;
                color: #222;
                padding-bottom: 10px;
                border-bottom: 1px solid #bbb;
                margin-bottom: 20px;
            }

            p{
                margin: 0 auto;
                font: 15px/1 $mainFon;
                color: #444;
                
                >span{
                    font: 15px/1 $mainFon;
                    color: #444;
                    float: right;
                }
            }
        }
    }
}


.pop{
    width: 100%; height: 100vh;
    background: rgba(0,0,0, 0.8);
    position: fixed;
    top: 0; left: 0;
    padding: 100px;

    img{
        width: 100%; height: 100%;
        object-fit: cover;
    }

    >span{
        font: bold 14px/1 'airal';
        color: #fff;
        position: absolute;
        top: 20px; right: 20px;
        cursor: pointer;
    }
}
