

.location{
    .inner{
        padding: 30px 0;
    
        &::after{
            content: ''; display: block; clear: both;
        }
    
        h2{
            font: bold 24px/1 $mainFon;
            color: #111;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 2px solid #111;
        }
    
        #map{
            width: 100%;
            height: 500px;
            position: relative;
            z-index: 1;
            filter: grayscale(70%);
            transition: 0.5s;
    
            &:hover{
                filter: grayscale(0%);
            }
        }
            
        .branch{
            position: absolute;
            top: 50%; left: 20px;
            transform: translateY(-50%);
            z-index: 2;
    
            li{
                margin-bottom: 10px;
                box-shadow: 5px 5px 30px rgba(0,0,0, 0.25);
    
                &:last-child{
                    margin-bottom: 0;
                }
    
                &.on{
                    a{
                        background: #333;
                        color: #fff;
    
                        p{
                            color: #ddd;
                        }
                    }
                }
    
                a{
                    display: block;
                    width: 350px; height: 120px;
                    padding: 15px 40px 15px 15px;
                    background: #fff;
                    font: bold 18px/1 $mainFon;
                    color: #111;
                    transition: 0.5s;
    
                    p{
                        font: 16px/1.6 $mainFon;
                        color: #222;
                        margin-top: 5px;
                    }
    
                    &:hover{
                        color: $mainCol;
                    }
                }
            }
        }
    
        .traffic{
            float: left;
            margin-top: 20px;
            margin-bottom: 20px;
    
            li{
                float: left;
                margin-right: 10px;
                border: 1px solid #333;
    
                a{
                    display: block;
                    width: 100px; height: 40px;
                    background: #fff;
                    font: bold 15px/40px $mainFon;
                    color: #333;
                    text-align: center;
                    transition: 0.5s;
    
                    &:hover{
                        color: $mainCol;
                    }
                }
    
                &.on{
                    a{
                        background: #333;
                        color: #fff;
    
                        &:hover{
                            color: $mainCol;
                        }
                    }
                }
            }
        }
    }
    
    .inner{
    
        .wrap{
            width: 100%;
            
            &::after{
                content: ''; display: block; clear: both;
            }
    
            article{
                float: left; 
                width: calc(100% / 3); 
                padding-left: 50px;
    
                >h2{
                    font: bold 20px/1 $mainFon;
                    color: #111;
                    width: 80%;
    
                    i{
                        display: inline-block;
                        margin-left: 5px;
                        font-size: 20px;
                        color: $mainCol;
                    }
                }
    
                >ul li{
                    margin-bottom: 20px;
                    font: bold 17px/1 $mainFon;
                    color: #111;
    
                    p{
                        font: 14px/1 'Noto Sans KR';
                        color: #666;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    
    .form{
        width: 1180px;
        margin: 100px auto;
        position: relative;
    
        h2{
            font: bold 24px/1 $mainFon;
            color: #111;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 2px solid #111;
        }
    
        .wrap{
            width: 100%;
            position: relative;
            padding: 20px 0;

            &::after{
                content: ''; display: block; clear: both;
            }
    
            form{
                width: 580px;
                position: relative;
                float: left;

                fieldset{
                    width: 100%;

                    &::after{
                        content: ''; display: block; clear: both;
                    }

                    article{
                        width: 280px; 
                        float: left;

                        &:nth-of-type(even){
                            margin-left: 20px;
                        }

                        &:last-child{
                            width: 100px;
                            margin-left: 0;
                            float: right;
                        }

                        label{
                            font: bold 18px/1 $mainFon;
                            color: #222; 
                        }

                        input[type=text], input[type=number], input[type=email], select{
                            width: 100%; height: 20px;
                            padding: 10px;
                            background: transparent;
                            border: none;
                            border-bottom: 1px solid #999;
                            margin-bottom: 30px;

                            option{
                                font: 16px/1 $mainFon;
                                color: #333;
                            }

                            &:focus{
                                font: 13px/1 'arial';
                                color: #222;
                            }
                        }
                    }

                    .comments{
                        width: 100%;

                        margin-bottom: 30px;

                        textarea{
                            width: 100%;
                            border: none;
                            border-bottom: 1px solid #999;
                            background: transparent;
                            resize: none;
                            padding: 10px;

                            &:focus{
                                font: 15px/1 'arial';
                                color: #222;
                            }
                        }
                    }

                    input[type=submit]{
                        width: 100px; height: 40px;
                        border: none;
                        font: bold 15px/1 $mainFon;
                        color: #fff;
                        letter-spacing: 1px;
                        background: #222;
                        transition: 0.5s;
                        cursor: pointer;

                        &:hover{
                            background: $mainCol;
                            font: #fff;
                        }
                    }
                    
                }
            }

            .contact{
                width: 560px; 
                position: relative;
                float: right;
                padding: 0px 30px;
                border-left: 1px solid rgba(204, 204, 204, 0.733);

                ul li{
                    width: 100%;
                    margin-bottom: 30px;

                    &:last-child{
                        margin-bottom: 0px;
                    }

                    h3{
                        font: bold 20px/1 $mainFon;
                        color: #222;
                        margin-bottom: 10px;
                    }
                    
                    p{
                        font: 15px/1.4 $mainFon;
                        color: #666;
                        margin-bottom: 10px;
                    }

                    span{
                        font: bold 16px/1 $mainFon;
                        color: $mainCol;

                        i{
                            display: inline-block;
                            width: 30px; height: 30px;
                            background: $mainCol;
                            border-radius: 50%;
                            font-size: 15px;
                            line-height: 30px;
                            text-align: center;
                            color: #eee;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    
}


@media screen and (max-width: 1179px){
    
    .location{
        .inner{
            padding: 30px 30px;
                
            .branch{
                position: absolute;
                top: 50%; left: 30px;
                transform: translateY(-50%);
                z-index: 2;

        
                li{
        
                    a{
                        width: 120px; height: 70px;
                        padding: 15px;
                        overflow: hidden;
                    }
                }
            }
        }
        
        .inner{
        
            .wrap{
                width: 100%;
        
                article{
                    width: 33.3333%; 
                    padding-left: 0px;
                }
            }
        }
        
        .form{
            width: 100%;
            padding: 0 30px;
        
            .wrap{
        
                form{
                    width: 100%;
                    position: relative;
                    float: none;

                    fieldset{
                        width: 100%;
                        margin-bottom: 50px;

                        article{
                            width: 49%; 
                            float: left;

                            &:nth-of-type(even){
                                margin-left: 2%;
                            }
                        }

                        .comments{
                            width: 100%;

                            margin-bottom: 30px;

                            textarea{
                                width: 100%;
                                border: none;
                                border-bottom: 2px solid #222;
                                background: transparent;
                                resize: none;
                                padding: 10px;

                                &:focus{
                                    font: 15px/1 'arial';
                                    color: #222;
                                }
                            }
                        }

                        input[type=submit]{
                            width: 100px; height: 40px;
                            border: none;
                            font: bold 15px/1 $mainFon;
                            color: #fff;
                            letter-spacing: 1px;
                            background: #222;
                            transition: 0.5s;
                            cursor: pointer;

                            &:hover{
                                background: $mainCol;
                                font: #fff;
                            }
                        }
                        
                    }
                }

                .contact{
                    width: 100%; 
                    float: none;
                    padding: 0px;
                    border-left: none;

                    ul li{
                        position: relative;

                        &::before{
                            content: ''; 
                            display: block;
                            width: 80%; height: 1px;
                            background: $mainCol;
                            position: absolute;
                            top: 10px; right: 0;
                        }
                    }
                }
            }
        }
        
    }

}


@media screen and (max-width: 539px){
    
    .location{
        .inner{
            padding: 30px 20px;
                
            .branch{
                top: 27%; left: 25px;

                li{
                    a{
                        width: 100px; height: 60px;
                        padding: 10px;
                        overflow: hidden;
                    }
                }
            }

            .traffic{
                width: 100%;
        
                li{
                    width: 49%;
                    margin-right: 2%;
                    border: 1px solid #333;

                    &:last-child{
                        margin-right: 0;
                    }
        
                    a{
                        width: 100%;
                    }
                }
            }
        }
        
        .inner{
        
            .wrap{
                
                article{
                    float: none; 
                    width: 100%;
                    margin-bottom: 50px;
        
                    >h2{
                        width: 100%;
                    }
                }
            }
        }
        
        .form{
            width: 100%;
            padding: 0 20px;
        
            .wrap{
        
                form{

                    fieldset{
                        .comments{

                            textarea{
                                height: 100px;
                            }
                        }

                        input[type=submit]{
                            width: 100px; height: 40px;
                            border: none;
                            font: bold 15px/1 $mainFon;
                            color: #fff;
                            letter-spacing: 1px;
                            background: #222;
                            transition: 0.5s;
                            cursor: pointer;
                        }
                        
                    }
                }

                .contact{

                    ul li{

                        &::before{
                            width: 70%; height: 1px;
                        }
                    }
                }
            }
        }
        
    }

}