



.intro{
    width: 100%;
    margin-bottom: 100px;

    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        &::after{
            content: ''; display: block; clear: both;
        }

        h1{
            width: 350px;
            font: bold 80px/1 'arial';
            color: #111;
            float: left;
            margin-top: 50px;
            z-index: 2;

            &::before{
                content: '';
                display: block;
                width: 500px; height: 500px;
                border: 10px solid $mainCol;
                position: absolute;
                top: 250px; right: 250px;
                z-index: 1;
            }

            b{
                font: normal 100px/1 'arial';
                color: $mainCol;
            }
        }

        .pic{
            width: 580px; height: 700px;
            float: right;
            position: relative;
            z-index: 2;

            img{
                width: 100%; height: 100%;
                object-fit: cover;
                z-index: 2;
            }
        }
    }
}



.phil{
    width: 100%;
    padding: 50px 0;
    position: relative;
    background: linear-gradient(90deg, #eee 50%, #333 50%);

    .inner{
        width: 1180px; height: 100%;
        margin: 0 auto;
        position: relative;

        &::after{
            content: ''; display: block; clear: both;
        }

        h1{
            font: bold 35px/1 $mainFon;
            color: #111;
            margin-bottom: 80px;
        }

        .wrap1{
            width: 50%; height: 100%;
            float: left;

            article{
                width: calc(65% / 2);
                float: left;

                &:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6){
                    margin-top: 50px;
                }

                &:nth-of-type(2), &:nth-of-type(5){
                    width: 35%;
                }

                a i {
                    font-size: 35px;
                    color: #777;
                    margin-bottom: 30px;
                }

                h2{
                    font: bold 22px/1 $mainFon;
                    color: #111;
                    margin-bottom: 10px;
                }

                span{
                    font: 15px/1 'arial';
                    color: #777;
                }
            }
        }

        .wrap2{
            width: 50%; height: 100%;
            float: left;
            padding: 10px 20px;

            .line{
                width: 100%;
                margin-bottom: 20px;
                position: relative;

                &:last-child{
                    margin-bottom: 0;
                }

                h3{
                    font: bold 18px/1 $mainFon;
                    color: #eee;
                    padding-bottom: 10px;
                    border-bottom: 2px solid #222;
                    position: relative;

                    &::after{
                        content: '';
                        display: block;
                        width: 100%; height: 2px;
                        background: #eee;
                        position: absolute;
                        top: 100%; left: 0;
                    }
                }

                &:nth-of-type(2) ::after{
                    width: 75%;
                }
                &:nth-of-type(3) ::after{
                    width: 93%;
                }
                &:nth-of-type(4) ::after{
                    width: 87%;
                }
                &:nth-of-type(5) ::after{
                    width: 65%;
                }

                span{
                    font: 14px/1 'arial';
                    color: #ccc;
                    position: absolute;
                    top: 10px; left: 98%;
                }

                &:nth-of-type(2) span{
                    left: 73%
                }
                &:nth-of-type(3) span{
                    left: 90%
                }
                &:nth-of-type(4) span{
                    left: 85%;
                }
                &:nth-of-type(5) span{
                    left: 63%;
                }
            }
        }
    }
}
