

.member{
    .sub_visual{
        background: url(../../img/unsplash.jpg) no-repeat bottom/cover;
    }

    .inner{
        width: 1180px; min-height: 500px;
        margin: 100px auto 0;
        position: relative;

        .back{
            width: 80%; min-height: 700px;
            background: #ddd;
            margin: 0 auto;
        }
    }
}