

.member{
    .sub_visual{
        background: url(../../img/unsplash.jpg) no-repeat bottom/cover;
    }

    .inner{
        width: 1180px;
        margin: 0 auto;
        position: absolute;
    }
}