@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&family=Noto+Sans+KR:wght@300;400&display=swap');

.youtube{
    .inner{
        width: 1180px;
        margin: 0 auto;
        position: relative;

        #video{
            width: 100%;
            padding: 20px;

            &::after{
                content: ''; display: block; clear: both;
            }

            article{
                width: 50%;
                float: left;
                padding: 0px 30px;
                position: relative;

                &:nth-of-type(2n){
                    transform: translateY(100px);
                }

                a{
                    display: block;
                    width: 100%; height: 300px;
                    overflow: hidden;
                    margin-bottom: 20px;

                    img{
                        width: 100%; height: 100%;
                        object-fit: cover;
                        transform: scale(1.05);
                        filter: grayscale(80%) hue-rotate(5deg) contrast(80%);
                        transition: 0.5s;
                    }
                }

                    
                .con{
                    width: 100%;
                    margin-bottom: 130px;

                    span{
                        display: block;
                        width: 50%; height: 40px;
                        padding: 0 40px;
                        background: #fff;
                        font: bold 18px/40px $mainFon,'Noto Sans KR';
                        color: $mainCol;
                        position: absolute;
                        top: 0px; left: 30px;
                        transition: 0.5s;
                    }

                    h2{
                        width: 100%;
                        font: bold 20px/1.4 'Noto Sans KR';
                        color: #333;
                        margin-bottom: 15px;
                    }

                    p{
                        width: 100%;
                        font: 15px/1.4 'arial', 'Noto Sans KR';
                        color: #555;
                    }
                }

                &:hover{
                    a img{
                        transform: scale(1.15);
                        filter: grayscale(0%) hue-rotate(0deg);
                    }

                    .con span{
                        background: $mainCol;
                        top: -40px;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.vidPop{
    width: 100%; height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background: rgba(0,0,0, 0.8);
    padding: 100px;
    z-index: 5;

    iframe{
        width: 100%; height: 100%;
        object-fit: cover;
        z-index: 5;
    }

    >span{
        font: 18px/1 $mainFon;
        color: #fff;
        position: absolute;
        top: 20px; right: 20px;
        cursor: pointer;
        z-index: 5;
    }
}